.App {
  width: 50%;
  margin: 0 auto;
}

/* Common Properties */

.header,.pricingCard{
  text-align: center;
}

/* 1.Header */

.header-title{
  font-size: 2.75rem;
  padding: 1rem 0;
}

.header-description{
  width: 55.25%;
  margin: 0 auto;
  color: grey;
  line-height: 1.4;
}

/* 2.Pricing Plans */

.plans{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-bottom: 1px solid #e0e0e0;
  padding: 1.75rem 0;
}

.dollar{
  color: #212121;
  font-size: 2rem;
}

.pricingCard {
  list-style: none;
  width: 12rem;
  border: 0.35px solid rgb(175, 174, 174);
  border-radius: 0.25rem;
}

.card-title {
  position: relative;
  background-color: rgb(175, 174, 174);
  padding: 15px 0;
}

.star-symbol{
  position: absolute;
  right: 0.1250rem;
  top: 0;
  visibility: hidden;
}

.most-popular {
  color: #6d6d6d;
  font-size: .65rem;
}

.card-body {
  padding-top: 0.625rem;
}

.card-content {
  font-size: 0.8rem;
  line-height: 1.5;
  padding: 10px 0;
}

.card-btn button {
  border:1px solid #9abae5;
  color: #3376cb;
  background-color: white;
  font-size: 0.75rem;
  cursor: pointer;
  border-radius: 0.25rem;
  padding: .375rem 2rem;
  margin-bottom: 0.18rem;
}

/*When a card is toggled */

.hover {
  cursor: pointer!important;
  /*position: relative;
  height: 16.06125rem;
  top:-1rem*/
}

.hover .star-symbol{
  visibility: visible;
}

.hover .card-title {
  position: relative;
  height: 2.125rem;
  top: -1.125rem;
  border-radius: 0.25rem;
}

.hover_btn {
  color: white!important;
  background-color: #3376cb!important;
}

/* 3.Footer */

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 00.8rem;
}

.footer ul{
  margin:0;
  padding:0;
}

.footer ul li:first-child {
  font-size: 1rem;
  color: black;
  padding-bottom: 0.35rem;
}

.footer li{
  list-style-type:none;
  padding-left: 0;
  line-height: 1.5;
}

.footer li a{
  color: #757575;
  text-decoration: none;
}